
.tudo{
    background-color:var(--backgroudcolor);
    /* position: relative; */
    
}

.main{
    overflow-x: hidden;
    padding-left: var(--sidebarwidth);

    /* background-color: blueviolet; */
    /* background-color:var(--backgroudcolor); */
    /* position: absolute; */
    /* background-color:var(--backgroudcolor); */
    /* height:100vh;
    width:100vh; */
    /* height:100vh;
    width:100vh; */
     /* position: relative; */
     /* max-width:100vh; */
}

.main-content{
    overflow-x: hidden;
    min-height: 100vh;
    width: 95%;
    /* position:relative; */
    margin-left: auto;
    margin-right: auto
   
    /* position: relative; */
 /* position: absolute; */
    /* background-color:var(--backgroudcolor); */
}
