.table-container {
  box-shadow: rgba(50, 50, 50, 0.2) 0px 2px 8px 0px;
  margin-top: 20px;

  /* height: 600; */
  background-color: rgb(255, 255, 255);

  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.header-table {
  /* margin-top: 20px; */

  padding-left: 13px;
  /* text-align: center;
align-items: center; */
}
.texto1 {
  font-size: 23px;
  font-weight: 700;
  color: rgb(49, 49, 49);
  margin: 0;
  
  padding-top: 10px;
}

.table-table {
}

th {
  color: var(--gray);
}

.texto2 {
  color: var(--gray);
  font-size: 16px;
}

.product-image > img {
  height: 67px;
  width: 67px;
  border-radius: 50px;
  object-fit: cover;
}

/* fazer o delete */

.btn-pagination {
  padding: 15px;
  margin: 5px;
  border: none;
  background: none;
  background-color: none;

}
.btn-pagination > svg{
 


}
