.table-container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 20px;

/* height: 600; */
   background-color: rgb(255, 255, 255);
  
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
}

.header-table{
    /* margin-top: 20px; */

padding: 20px;
/* text-align: center;
align-items: center; */


}
.texto1{
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
}

.table-table{
}

th{
    color: var(--gray);
}

.texto2{
    color: var(--gray);
    font-size: 14px;
}