.insuficientes {
  background-color: #e7fce9;
  color: #2f9b3a;

  white-space: nowrap;
  font-weight: 600;
  border-color: #2ea43a;
}
.Pote-inf {
  background-color: #fff0e1;
  color: #a65e16;

  white-space: nowrap;
  font-weight: 600;
  border-color: #b16a24;
}

.poss-inf {
  background-color: #ffcfcf;
  color: #a61d1d;

  white-space: nowrap;
  font-weight: 600;
  border-color: #c73636;
}

.nao-atendido {
  background-color: #edf5fd;
  color: #2462a0;

  white-space: nowrap;
  font-weight: 600;
  border-color: #246db5;
}

.cont {
  text-align: center;
  padding: 11px;
  border-radius: 10px;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
}
