body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--backgroudcolor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease;
}

:root {
  --maincolor: #408bfc;
  --maincolordark: #276bd1;
  --lightcolor: #ffffff;
  --subcolor: ;
  --backgroudcolor: #f1f5fb;
  --graylight: #f6f9fa;
  --graylight2: #f0f4f7;
  --gray: #909192;
  --blackb: #1b1b1b;
  --cordetexto: #757575;

  --sidebarwidth: 250px;

  .btn-white {
    background-color: var(--lightcolor);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    margin: 10px;
    color: var(--maincolor);
  }
  .btn-white a {
    color: var(--maincolor);
    text-decoration: none;
    text-align: center;
  }
  .btn-blue {
    background-color: var(--maincolor);
    border-radius: 20px;
    padding: 10px;
    width: 144px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--lightcolor);
    margin: 14px;
    margin-left: 20px;
    white-space: nowrap;
    border: none;
  }
  .btn-blue:hover {
    background-color: #276bd1;
  }
  .btn-blue a {
    color: var(--lightcolor);
    text-decoration: none;
  }

  
.text-0 {
  font-size: 1.1rem;
  margin: 4px;
  
  /* color: var(--gray) */
}
.error-message{
  color: rgb(230, 87, 87);
  }
  .info-text{
    color: var(--blackb);
   
  }


}
