.error-message{
color: rgb(230, 87, 87);
}

.modal-btn{
    float: right;
}
   
.fade centered modal show{
    display:flex;
}

.fade centered display-flex modal show{
    display:flex;
}

.modal{
    display:flex;
}